@tailwind base;
@tailwind components;
@tailwind utilities;


*{
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1{
    color: #333;
}

h2{
    color:rgb(36, 100, 156);
    background-color: #e0e0e0;
}
.card{
    display: flex;
    border: #333 solid 1px;
    padding: auto;
    margin-bottom: auto;
}
button{
    background-color: #4CAF50;
    color: rgb(14, 13, 13);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}